<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyyyl.nursing.mapper.NursingProjectPlanMapper">

    <resultMap id="NursingProjectPlanVoResult" type="com.zyyyl.nursing.vo.NursingProjectPlanVo">
        <id property="id" column="id"/>
        <result property="planId" column="plan_id"/>
        <result property="projectId" column="project_id"/>
        <result property="executeTime" column="execute_time"/>
        <result property="executeCycle" column="execute_cycle"/>
        <result property="executeFrequency" column="execute_frequency"/>
    </resultMap>

    <select id="selectByPlanId" resultMap="NursingProjectPlanVoResult">
        select id, plan_id, project_id, execute_time, execute_cycle, execute_frequency
        from nursing_project_plan
        where plan_id = #{planId}
        order by id
    </select>

    <insert id="batchInsert">
        insert into nursing_project_plan
            (plan_id, project_id, execute_time, execute_cycle, execute_frequency, create_time)
        values
        <foreach item="item" collection="list" separator=",">
            (#{planId}, #{item.projectId}, #{item.executeTime},
             #{item.executeCycle}, #{item.executeFrequency}, now())
        </foreach>
    </insert>

    <delete id="deleteByPlanId">
        delete from nursing_project_plan where plan_id = #{planId}
    </delete>

</mapper>
