DB_URL=jdbc:mysql://192.168.100.168:3306/zyyyl?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true
DB_USERNAME=root
DB_PASSWORD=

REDIS_HOST=192.168.100.168
REDIS_PORT=6379
REDIS_PASSWORD=

TOKEN_SECRET=
DRUID_USERNAME=zyyyl
DRUID_PASSWORD=

STORAGE_TYPE=local
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET=
OSS_ENDPOINT=

DIFY_BASE_URL=http://192.168.100.128/v1
DIFY_TOKEN=

WECHAT_MINIAPP_APP_ID=
WECHAT_MINIAPP_APP_SECRET=
WECHAT_PUB_APP_ID=
WECHAT_PUB_APP_SECRET=
